.snackbar--success {
  --mat-snack-bar-container-color: var(--mat-sys-primary);
  --mat-snack-bar-supporting-text-color: var(--mat-sys-on-primary);
}

.snackbar--warn {
  --mat-snack-bar-container-color: var(--mat-sys-tertiary);
  --mat-snack-bar-supporting-text-color: var(--mat-sys-on-tertiary);
}
